.base-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 24px 0 0 0;
    gap: 0;
}

.base-wrapper .content {
    background-color: var(--md-sys-color-surface-container-lowest);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0;

}