.circular-progress {
    --size: 165px;
    width: var(--size);
    height: var(--size);
}

.progress-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-progress span {
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    display: block;
    bottom: calc(var(--size) / 2 + 14px);
    position: relative;
    text-align: center;
    white-space: nowrap;
}